.comment{
    background-color: white;
    height: 50vh;
    width: 80vw;
    margin: auto;
}

textarea{
    margin-left: 10vw;
}
.comment__display{
    display: flex;
    flex-direction:row-reverse;
    padding:1%;
    margin-bottom: 2px;
    height: auto;
    width: fit-content;
    margin-left: 10vw;
}

.comment__post{
    display: flex;
    margin-bottom: 2%;
}